---
import Separador from '../MiniComponets/Separador.astro'; 
---
<div class="bg-gray-200 mx-2 my-4 p-[7vw] lg:p-[8vw] grid gap-y-14 shadow-md shadow-gray-500">
    <div class="grid gap-y-1">
        <h3 class="text-center px-5 lg:px-8 font-semibold text-[1.33rem] text-gray-900">Rosef Importaciones desarrolla bandas transportadoras para soluciones integrales de flujo de paquetes que ayudan a las empresas a resolver los desafíos más exigentes de logística interna.</h3>
        <Separador />
        <p class="text-[1.02rem] px-5 lg:px-8 text-justify text-gray-600">Nuestros clientes gozan de los beneficios del aumento de su capacidad, la reducción de los gastos de funcionamiento, el mejoramiento de la gestión de inventarios, el aumento de la eficiencia laboral con la reducción de los costos de formación, la mejora de la exactitud para la integración con la empresa y el flujo de información.</p>
    </div>
    
    <div class="grid gap-y-1">
        <h3 class="text-center px-5 lg:px-8 font-semibold text-[1.33rem] text-gray-900">Proveedores de tecnología de punta</h3>
        <Separador />
        <p class="text-[1.02rem] px-5 lg:px-8 text-justify text-gray-600">Durante nuestra trayectoria, hemos creado relaciones con empresas líderes en tecnologías para el manejo de materiales lo que nos permite ofrecerles a nuestros clientes sistemas altamente especializados.
        <br>
        Como proveedores de soluciones integrales nos hemos asociado con las empresas más competitivas para ofrecerles sistemas de última tecnología.</p>
    </div>
</div>