---
import ButtonLink from "../MiniComponets/ButtonLink.astro";
---

<section class="relative my-10 h-[30vh] bg-gray-900 text-white text-3xl font-bold flex flex-col justify-center items-center gap-6">
        <h2 class="text-center">¿Quiénes Somos?</h2>
            <ButtonLink
            Link="Quienes-somos"
            TextLink="CONÓCENOS" />
</section>