---
import ButtonLink from '../MiniComponets/ButtonLink.astro';
---
<section id="linkProd" class="relative my-10 min-h-[90vh] lg:min-h-[80vh] w-full flex items-center justify-center text-white font-semibold text-xl">
    <div class="absolute w-full h-full bg-[#000000c2]">
        <img class="w-full h-full object-cover opacity-20" src="https://ropim.com/wp-content/uploads/2023/01/slide2.avif" alt="fondo bandas transportadoras">
    </div>
    <div class="z-10 flex flex-col gap-6 items-center justify-center p-6">
        <p class="text-center text-2xl">
            <strong>Nuestras bandas <br class="sm:hidden"> transportadoras</strong> aportan un <strong>aumento inmediato</strong> en la productividad con la <strong>flexibilidad</strong> necesaria para adaptarse rápidamente a los cambios del mercado
        </p>
        <ButtonLink 
            Link="Productos"
            TextLink="PRODUCTOS" />
    </div>
</section> 
<style>

</style>