---
import Module from '../MiniComponets/ModuleService.astro';
---
<section class="flex gap-x-3 items-center justify-center flex-wrap md:justify-between px-10 my-6">
    <Module 
        link="./Almacenamiento"
        src="storage"
        h2="Almacenamientos"
    />
    <Module 
        link="./Transporte-Clasificacion"
        src="transport"
        h2="Transporte y clasificacion"
    />
    <Module
        link="./Finales-de-linea" 
        src="final"
        h2="Finales de linea"
    />
</section>