---
const {TextLink, Link} = Astro.props;
---

<button class="md:bottom-[6vh] min-w-[100px] min-h-8 max-h-9 bg-rose-800 text-center text-[16px] cursor-pointer"><a class="text-center p-4" href=`${Link}`>{TextLink}</a></button>