---
import ButtonVerMas from "../Productos_Components/ButtonVerMas.astro"
---
<div class=`relative flex justify-center items-center w-[300px] h-[300px]`>
    <a class="w-full h-full p-[2px] flex flex-col justify-center items-center rounded-lg shadow-md bg-black object-cover" href="./Almacenamiento">
        <img class="opacity-20 absolute z-0 object-cover w-full h-full" src="./ImgProd/Transelevadores.jpg" alt="">
    </a>
    <a class="absolute z-10 text-white text-2xl" href="./Transporte-Clasificacion">ALMACENAMIENTO</a>
    <ButtonVerMas link="./Almacenamiento"/>
</div>
<div class=`relative flex justify-center items-center w-[300px] h-[300px]`>
    <a class=`w-full h-full p-[2px] flex flex-col justify-center items-center rounded-lg shadow-md bg-black` href="./Transporte-Clasificacion">
        <img class="opacity-20 absolute z-0 object-cover w-full h-full" src="./ImgProd/imgT.jpg" alt="">
    </a>
    <a class="absolute z-10 text-white text-2xl" href="./Transporte-Clasificacion">TRANSPORTE Y CLASIFICACIÓN</a>
    <ButtonVerMas link="./Transporte-Clasificacion"/>
</div>
<div class=`relative flex justify-center items-center w-[300px] h-[300px]`>
    <a class=`w-full h-full p-[2px] flex flex-col justify-center items-center rounded-lg shadow-md bg-black` href="./Finales-de-linea">
        <img class="opacity-20 absolute z-0 object-cover w-full h-full" src="https://ropim.com/wp-content/uploads/2019/09/linea1-300x188.jpg" alt="">
    </a>
    <a class="absolute z-10 text-white text-2xl" href="./Finales-de-linea">FINALES DE LINEA</a>
    <ButtonVerMas link="./Finales-de-linea"/>
</div>
<div class=`relative flex justify-center items-center w-[300px] h-[300px]`>
    <a class=`w-full h-full p-[2px] flex flex-col justify-center items-center rounded-lg shadow-md bg-black` href="./Surtido-de-pedidos">
        <img class="opacity-20 absolute z-0 object-cover w-full h-full" src="./ImgProd/surtido1.jpg" alt="">
    </a>
    <a class="absolute z-10 text-white text-2xl" href="./Soporte-y-Servicio-Tecnico">SOPORTE Y SERVICIO TECNICO</a>
    <ButtonVerMas link="./Surtido-de-pedidos"/>
</div>
