---
import ListNav from './ListNav.astro'
---
<nav class="hidden h-20 w-[100%] md:flex justify-around items-center text-sm">
    <ul id="nav-ul-comp" class="w-full h-full flex justify-around">
        <ListNav />
    </ul>
</nav>

