---
import Layout from "../layouts/Layout.astro";
import InicioSeccion from "../components/MiniComponets/InicioSeccion.astro";
import CompoChiq from "../components/Productos_Components/Compo_chiq.astro";
---

<Layout title="Productos-Finales de Linea">
    <section
        id="linkProd"
        class="relative h-[30vh] lg:h-[40vh] w-full flex items-center justify-center text-white font-semibold"
    >
        <div class="absolute w-full h-full bg-[#000000ce]">
            <img
                class="w-full h-full object-cover opacity-20"
                src="https://ropim.com/wp-content/uploads/2023/01/slide2.avif"
                alt="fondo bandas transportadoras"
            />
        </div>
        <InicioSeccion>
            <h2
                slot="title"
                class="inline-block font-semibold text-[1.8rem] lg:text-5xl ml-6"
            >
                <strong>Finales de Linea</strong>
            </h2>
        </InicioSeccion>
    </section>
    <div
        class="mx-[5vw] w-[90%] flex justify-center flex-col border-b-2 border-b-blue-950 p-4"
    >
        <h2 class="text-blue-950 text-xl font-semibold">Robots</h2>
        <div class="flex justify-center items-center flex-col gap-2">
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2023/05/Mayo22-1536x1024.png.webp"
                name="Packaging Solution"
            />
        </div>
    </div>
    <div
        class="mx-[5vw] w-[90%] flex justify-center flex-col border-b-2 border-b-blue-950 p-4"
    >
        <h2 class="text-blue-950 text-xl font-semibold">Cadena de arrastre</h2>
        <div class="flex justify-center items-center flex-wrap gap-2">
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2021/10/Transportador-horizontal-de-trabajo-pesado-300x188.jpg.webp"
                name="Transportador horizonta DC-60"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/06/Modelo-DCEZ63-Transportador-de-cadena-de-Acoplamiento-300x188.jpg.webp"
                name="Transportador de cadena DCEZ-63"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2021/09/DC63.png.webp"
                name="Transportador de cadena DCEZ-60"
            />
        </div>
    </div>
    <div
        class="mx-[5vw] w-[90%] flex justify-center flex-col border-b-2 border-b-blue-950 p-4"
    >
        <h2 class="text-blue-950 text-xl font-semibold">
            Niveladores de muelle
        </h2>
        <div class="flex justify-center items-center flex-wrap gap-2">
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2021/05/Modelo-NIV-R-001-NIVELADOR-DE-MUELLE-300x188.jpg.webp"
                name="Nivelador de muelles"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Muelle-nivelador-interior-LOADHOG-300x188.png.webp"
                name="Mueble nivelador de interior LOADHOG"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Muelle-nivelador-de-Bolsa-inflable-SERCO-300x188.png.webp"
                name="Muelle nivelador de bolsa inflable"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Nivelador-de-muelle-Vertical-300x188.png.webp"
                name="Nivelador de muelles vertical"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Nivelador-de-muelle-Mec%C3%A1nico-SERCO.png.webp"
                name="Nivelador de muelles SERCO"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Nivelador-de-muelle-hidr%C3%A1ulico-SERCO.png.webp"
                name="Nivelador de muelles SERCO"
            />
        </div>
    </div>
    <div
        class="mx-[5vw] w-[90%] flex justify-center flex-col border-b-2 border-b-blue-950 p-4"
    >
        <h2 class="text-blue-950 text-xl font-semibold">Mesas niveladoras</h2>
        <div class="flex justify-center items-center flex-wrap gap-2">
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/05/Mesas-Niveladoras-2-300x188.jpg.webp"
                name="Mesas niveladoras"
            />

            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/powered_pp_hydraulic-300x188.jpg.webp"
                name="Powered PalletPal"
            />

            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Mesa-Niveladora-SouthWorth-300x188.png.webp"
                name="Mesa niveladora SouthWorth"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/powered_pp_air-300x188.jpg.webp"
                name="PalletPal-Neumaticos"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/BACKSAVER-LITE-LIFTS-300x188.png.webp"
                name="Backsaver Lite Lifts"
            />
        </div>
    </div>
    <div
        class="mx-[5vw] w-[90%] flex justify-center flex-col border-b-2 border-b-blue-950 p-4"
    >
        <h2 class="text-blue-950 text-xl font-semibold">Puertas seccionadas</h2>
        <div class="flex justify-center items-center flex-wrap gap-2">
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Puertas-Seccionadas.-300x188.png.webp"
                name="Puertas seccionadas"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2020/08/Puerta-Seccionada-TKO-CruiserWeight-300x188.png.webp"
                name="Puertas seccionada TKO CruiserWight"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2023/01/Puerta-Seccionada-TKO-ThermalWeight.avif"
                name="Puertas seccionada TKO ThermalWeight"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2023/01/Puerta-Seccionada-TKO-WelterWeight.avif"
                name="Puertas seccionada TKO WalterWeight"
            />
            <CompoChiq
                link="https://ropim.com/wp-content/uploads/2023/01/Abrigo-para-puerta-SERCO.avif"
                name="Abrigo para puerta SERCO"
            />
        </div>
    </div>
</Layout>
