---
import Layout from "../layouts/Layout.astro";
import ComponentesProductos from "../components/Productos_Components/ComponentesProductos.astro";
---
<Layout title="Productos-Manejo de Información">
    <div class="flex flex-col gap-10 items-center justify-center mb-8">
        <ComponentesProductos
        title="Inductor WCS"
        text="Es un paquete de Control y Estadístico de Datos de producción para Sorter de simple desvío con 1 a 15 desviadores. El mismo mantiene una comunicación online con el WMS del cliente."
        img="https://ropim.com/wp-content/uploads/2023/01/informacion2.avif"
        />
        <ComponentesProductos
        title="Software y Control"
        text="Integramos a nuestras soluciones una amplia gama de software inteligentes, incluidos los sistemas de control de almacenamiento y software avanzado para el control de las máquinas. La aplicación de software WMS mejora el rendimiento del centro de distribución, aumenta de la eficiencia del sistema, reduce los costes operativos, aumenta la productividad y flexibilidad para responder a los retos empresariales dinámicos."
        img="https://ropim.com/wp-content/uploads/2023/01/informacion1.avif"
        />
        <ComponentesProductos
        title="Software Logis One"
        text="Software modular para gestión de almacenes (SGA) que permite gestionar todo tipo de procesos logísticos y que es fácilmente integrable con otros softwares del cliente."
        img="https://ropim.com/wp-content/uploads/2023/01/WCS.avif"
        />
    </div>
</Layout>