---
import CompCatalogo from "../MiniComponets/CompCatalogo.astro";
---

<div class="m-3">
    <h2 class="text-center text-2xl">
        Catalogo de Productos
    </h2>
    <p class="text-center">
        Conoce nuestra variedad de productos para soluciones de los desafíos mas exigentes de la intralogística. 
    </p>
</div>
<div class="flex flex-wrap justify-center items-center gap-5 m-3">
    <CompCatalogo />
</div>