---
const {link,name}=Astro.props;
---
<div class="relative flex flex-col justify-center w-[250px] shadow-md">
    <a class="w-[100%] p-2 text-white bg-blue-950" href="">{name}</a>
    <img src=`${link}` alt=`imagen de ${name}`>
</div>