---
const {link,name}=Astro.props;
---
<div class="relative flex justify-center w-[250px] shadow-md">
    <img src=`${link}` alt=`imagen de ${name}`>
    <a class="w-[70%] p-2 absolute bottom-0 text-white bg-blue-950" href="">{name}</a>
</div>