---
import InicioSeccion from '../MiniComponets/InicioSeccion.astro';
---
<section id="linkProd" class="relative h-[90vh] lg:h-[80vh] w-full flex items-center justify-center text-white font-semibold">
    <div class="absolute w-full h-full bg-[#000000ce]">
        <img class="w-full h-full object-cover opacity-20" src="https://ropim.com/wp-content/uploads/2023/01/slide3.avif" alt="fondo bandas transportadoras">
    </div>
    <InicioSeccion>
       <h2 slot="title" class="inline-block font-semibold text-[1.8rem] lg:text-4xl ml-6">
        Soluciones de <strong>productividad</strong> para <strong>movimiento</strong> de <strong>paquetes</strong>    
        </h2>
        <p slot="text" class="text-lg md:text-xl">
            <strong>Nuestras soluciones</strong> aportan un aumento inmediato en la productividad con la <strong>flexibilidad</strong> necesaria para adaptarse rápidamente a los cambios del mercado
        </p>   
    </InicioSeccion>
</section> 